{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Course</title>

    <!-- Link to Static CSS Files using Django's static tag -->
    <link rel="stylesheet" href="{% static 'css/mark.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <!-- Bootstrap JS -->
    <script defer src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- BOOTSTRAP CDN LINKS (optional if you prefer to use the local files instead of CDN) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="mx-auto rounded text-light p-3">
      <div class="head-details text-primary">
        <img src="{% static 'images/Espam logo.png' %}" alt="" />
        <div class="head-title">
          <h4>Espam-Formation University</h4>
          <p>Student Attendance Management System</p>
        </div>
      </div>

      <div class="h5 text-center">Verify the Course</div>
      <hr />

      <!-- Display Messages -->
      {% if messages %}
      <div class="alert alert-danger">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}

      <form>
        <div class="input-group mb-3">
          <span class="input-group-text bg-primary border-primary text-light"
            >Course Title:</span
          >
          <input
            type="text"
            class="form-control"
            value="{{ course.course_title }}"
            disabled
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bg-primary border-primary text-light"
            >Lecturer:</span
          >
          <input
            type="text"
            class="form-control"
            value="{{ course.lecturer.full_name }}"
            disabled
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bg-primary border-primary text-light"
            >Course Code:</span
          >
          <input
            type="text"
            class="form-control"
            value="{{ course.course_code }}"
            disabled
          />
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bg-primary border-primary text-light"
            >Semester:</span
          >
          <input
            type="text"
            class="form-control"
            value="{{ course.semester.name }}"
            disabled
          />
        </div>

        <div class="input-group mb-3 d-none">
          <span class="input-group-text bg-primary border-primary text-light"
            >Session:</span
          >
          <input
            type="text"
            class="form-control"
            value="{{ course.semester.name }}"
            disabled
          />
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <span
                class="input-group-text bg-primary border-primary text-light"
                >Date:</span
              >
              <input
                type="text"
                class="form-control"
                value="{{ session }}"
                disabled
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="input-group mb-3">
              <span
                class="input-group-text bg-primary border-primary text-light"
                >Time:</span
              >
              <input
                type="text"
                class="form-control"
                value="{{ course.attendance_start_time }} - {{ course.attendance_end_time }}"
                disabled
              />
            </div>
          </div>
        </div>

        {% if messages %}
        <button type="button" class="btn btn-secondary w-100" disabled>
          Cannot Proceed
        </button>
        {% else %}
        <a href="{% url 'fingerprint' %}" class="w-100 btn btn-primary"
          >Proceed to Fingerprint Verification</a
        >
        {% endif %}
      </form>

      <div class="btn-row">
        <div>
          <a href="\" class="btn btn-outline-light"
            ><i class="fa-solid fa-house"></i> Homepage</a
          >
        </div>
        <div>
          <a href="{% url 'login' %}" class="btn btn-primary"
            ><i class="fas fa-sign-in"></i> Login</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
